<h1>{{fileName}}</h1>

<button (click)="loadEpub()">Load Epub</button>
<!-- <main class="fluido">{{content()}}</main> -->
<!-- El contenedor real que ve el usuario -->
<!-- <div #mainReader class="reader-style">
  {{ content() }}
</div> -->
<!-- El contenedor real que ve el usuario -->
<div class="controls">
    <button [disabled]="pageHistory.length === 0" (click)="prev()">prev</button>
    <button [disabled]="currentPageStart() >= allPhrases.length" (click)="next()">next</button>
</div>
<div #mainReader class="reader-style">
  {{ content() }}
</div>

<!-- El contenedor "fantasma" para cálculos (oculto) -->
<div #ghost class="reader-style ghost-hidden"></div>

